/* --- Variables & Reset --- */
:root {
    /* --- COULEURS IDENTITÉ (RGB/Hex) --- */
    --primary-dark: rgb(35, 50, 62);   /* Bleu foncé du logo */
    --logo-red: rgb(100, 44, 62);      /* Rouge du logo */
    --primary-accent: #00a8e8;         /* Cyan vif (splash) */
    
    /* Couleur de fond claire */
    --bg-light-tint: #dbe2e8; 
    
    /* --- COULEURS DE TEXTE MODIFIÉES --- */
    --text-dark: #0f0f0f; /* Noir profond (remplace le gris #333) */
    --text-light: #eaeaea; 
    
    --font-main: 'Roboto', sans-serif;
    --font-title: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
    font-size: 103%;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: var(--font-main);
    color: var(--text-light); /* Texte clair par défaut sur le fond dégradé */
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
    /* Fond dégradé global */
    background-image: linear-gradient(135deg,
